.App {
  text-align: center;
}

nav{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 5vh;
	background: black;
	color: white;
}

.nav-links{
	width: 200px;
	list-style: none;
}
